{{#if links}}
  <div class="container mt-5 text-center">
    <h4>成功！下方是你的短網址：</h4>
    <a
      id="origin"
      class="fs-3"
      href="http://localhost:3000/{{links.shorten}}"
    >http://localhost:3000/{{links.shorten}}</a>
    <br />
    <button class="btn btn-primary" onclick="copy()">複製短網址</button>
    <a
      href="/"
      class="btn btn-outline-success"
      style="text-decoration: none;"
    >再生成一組</a>
  </div>
  <script>
    function copy(){ console.log("test"); const origin =
    document.querySelector("#origin");
    navigator.clipboard.writeText(origin.innerText) .then(()=>alert("已複製"))
    .catch(error => console.log(error)) }
  </script>

{{else}}

  <!--  ./views/index.handlebars -->
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <div class="card">
          <div class="card-body">
            <form method="POST" action="/">
              <div class="row mb-3 g-2">
                <label for="url" class="col-md-2 col-form-label">
                  網址：
                </label>
                <div class="col-md-8">
                  <input
                    type="text"
                    name="url"
                    class="form-control"
                    id="url"
                    placeholder="請輸入要縮短的網址"
                    value=""
                    required
                  />
                </div>
                <button
                  class="btn btn-success col-md-2"
                  type="submit"
                >Shorten</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{{/if}}